main#EXPERIENCE {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.63);
    margin-bottom: 60px;

    #experience_container {
        width: 1000px;

        h2 {
            text-align: center;
        }

        .experience_container {
            width: 100%;
            margin: 3rem 0 3rem;

            .date_experience{
                font-weight: bold;
            }

            .experience_info {
                width: inherit;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title_experience {
                    text-align: left;
                    font-size: 1.5rem;
                    color: rgba(255, 255, 255, 0.87);
                    font-weight: bold;
                }

                .date_experience{
                    text-align: right;
                }
            }

            .experience_detail {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .experience_img{
                    width: 50px;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1rem;
                    border-right: 2px solid white;
        
                    img {
                        height: 50px;
                        border-radius: 0.5rem;
                        margin-right: 1rem;
                    }
                }
        
                .job_description_experience {
                    letter-spacing: 1px;
                    padding: 0 1rem;
                    border-radius: 0.3rem;
                    background-color: rgba(190, 190, 190, 0.048);
                    
                    p {
                        margin: 0.3rem 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    #EXPERIENCE {
        width: 100vw !important;

        #container {
            width: 90vw !important;

            .experience_container{
                width: 85vw !important;
                margin-left: 1rem !important;
            }
        }
    }
}