main#HOME {
    width: 100vw;
    height: calc(100vh - 120px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    #apresentation{
        width: 90%;
        color: rgba(255, 255, 255, 0.527);
        font-size: 1.2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            margin: 0.4rem 0;
        }

        #name {
            font-size: 2rem;
            color: #0C70DC;
        }

        #icons_tech { 
            width: 100%;
            margin-top: 1rem;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 48px;
                border-radius: 0.5rem;
                padding: 0 0.3rem;
                border-right: 3px solid white;
            }
        }

        #contact{
            margin-top: 2rem;
            display: flex;
            width: 100%;
            justify-content: space-between;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.4rem 1rem;
                border-radius: 0.4rem;
                width: 50%;
                font-weight: bold;
                text-decoration: none;
                color: white;
                font-size: 1rem;

                .logoimg {
                    width: 20px;
                    height: 20px;
                    margin-right: 0.5rem;
                }
            }

            #linkedin {
                padding: 0.4rem 1rem;
                border: 2px solid var(--person_blue);
                color: var(--person_blue);
                margin-right: 1rem;
            }

            #linkedin:hover {
                background-color: var(--person_blue);
                color: white;
            }
            
            #github {
                padding: 0.4rem 1rem;
                border: 2px solid var(--person_orange);
                color: var(--person_orange);
            }

            #github:hover {
                background-color: var(--person_orange);
                color: white;
                border: 2px solid var(--person_orange);
            }
        }
    }

    #img {
        width: 0;

        img {
            width: 0;
        }
    }
}

@media screen and (min-width: 650px) {
    main#HOME {
        
        #container {            
            display: flex;
            justify-content: space-evenly;

            #apresentation{
                width: 50%;
        
                #name {
                    font-size: 2rem;
                }
            }
        
            #img {
                width: 30%;

                display: flex;
                align-items: center;
        
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    main#HOME {
        
        #container {            
            display: flex;
            justify-content: space-between;

            #apresentation{
                width: 65% !important;
        
                #name {
                    font-size: 2rem;
                }
            }
        
            #img {
                width: 30%;

                display: flex;
                align-items: center;
        
                img {
                    width: 180px;
                }
            }
        }
    }
}


@media screen and (min-width: 1200px) {
    main#HOME {
        
        #container {       
            width: 1000px;     
            display: flex;
            justify-content: space-evenly;

            #apresentation{
                width: 50% !important;
        
                #name {
                    font-size: 3rem;
                }
            }
        
            #img {
                width: 30%;

                display: flex;
                align-items: center;
        
                img {
                    width: 180px;
                }
            }
        }
    }
}