// #navbar {
//     width: 4vw;
//     height: 100vh;
//     font-weight: bold;
//     border-bottom: 2px solid rgb(41, 39, 39);;
//     background-color: aqua;

//     div {
//         min-width: 80vw;
//         max-width: 70vw;
//         height: inherit;
//         display: flex;
//         margin: 0 auto;
//         align-items: center;
//         justify-content: space-between;

//         a {
//             display: flex;
//             align-items: center;
//             color: white;
//             text-decoration: none;

//             img {
//                 margin-right: 1rem;
//             }
//         }

//         .list {
//             display: flex;

//             .item {
//                 margin-right: 2rem;
//                 list-style-type: none;
//             }
//         }
//     }
// }

#navbar {
    width: 70px;
    // height: 100vh;
    padding: 0 0.4rem;
    font-weight: bold;
    // border-bottom: 2px solid rgb(41, 39, 39);
    background-color: rgb(255, 255, 255);
    position: fixed;

    #container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // background-color: aqua;

        a {
            color: white;
            text-decoration: none;
        }

        #logo {
            //nothing
            width: inherit;
            height: 30vh;
            // background-color: rgba(0, 255, 255, 0.37);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #links {
            width: inherit;
            height: 100vh;
            // background-color:rgba(240, 255, 255, 0.281);
            display: flex;
            justify-content: center;
            align-items: center;

            #list {
                width: inherit;
                display: flex;
                flex-direction: column;
                // justify-content: space-around;
                align-items: center;
                // background-color:rgba(240, 255, 255, 0.281);
    
                .item {
                    margin-bottom: 3rem;
                    list-style-type: none;
                    font-size: .9rem;
    
                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: rgba(0, 0, 0, 0.582);

                        img {
                            width: 2.6rem;
                            // height: 3rem;
                        }
                    }
                }
            }
        }
    }
}