main#PROJECT {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6vw;

    #container {
        margin-top: 2rem;
        width: 1200px;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        h2 {
            color: rgba(255, 255, 255, 0.555);            
        }
    
        #project_container{
            width: inherit;
            margin-top: 2rem;
    
            .project{
                width: inherit;
                height: 320px;

                display: flex;
                align-items: center;
                justify-content: space-between;
                
                padding: 1rem 0;
                margin-bottom: 2rem;
                border-radius: 0.7rem;
                background-color: rgba(255, 255, 255, 0.021);

                .project_demo{
                    width: 43%;

                    text-align: center;

                    img {
                        border-radius: 0.5rem;
                    }
                }

                span {
                    width: 3px;
                    height: 200px;

                    margin: 0 0.4rem;
                    
                    background-color: var(--person_blue);
                }

                .project_info{
                    width: 55%;

                    h3 {
                        text-align: center;
                        margin: 1rem 0;
                    }
    
                    div {
                        width: 100%;
                        color:rgba(255, 255, 255, 0.555);

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p {
                            display: flex;
                            justify-content: left;
                            margin-bottom: 1rem;

                            img {
                                margin-right: 0.5rem;
                                width: 1.3rem;
                                color: white;
                            }
                        }
                    }  
                }
            }
        }
    }
}