main#PROJECT {
    width: 100vw;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    #project_main {
        width: 90%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: rgba(255, 255, 255, 0.555);            
        }
    
        #project_container{
            width: 100%;
            margin-top: 2rem;
    
            .project{
                width: inherit;

                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-around;
                
                padding: 1rem 0;
                margin-bottom: 1rem;
                border-radius: 0.7rem;
                border-bottom: 2px solid white;
                border-top: 2px solid white;
                background-color: rgba(231, 223, 223, 0.062);

                .project_demo{
                    width: 90%;
                    
                    img {
                        border-radius: 0.5rem;
                        width: 100%;
                    }
                }

                span {
                    // width: 2px;
                    // height: 150px;

                    margin: 0 0.4rem;
                    
                    background-color: white;
                }

                .project_info{
                    width: 90%;

                    h3 {
                        text-align: center;
                        margin: 1rem 0;
                    }
    
                    div {
                        width: 100%;
                        color:rgba(255, 255, 255, 0.555);

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            display: flex;
                            justify-content: left;
                            margin-bottom: 1rem;

                            img {
                                margin-right: 0.5rem;
                                width: 1rem;
                                height: 1rem;
                                color: white;
                            }
                        }
                    }  
                }
            }
        }
    }
}

@media screen and (min-width: 750px) {
    main#PROJECT {
    
        #project_main {
        
            #project_container{
        
                .project{
                    flex-direction: row;
    
                    .project_demo{
                        width: 90%;
                    }
    
                    span {
                        width: 5px;
                        height: 150px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    main#PROJECT {
    
        #project_main {
            width: 1100px;
        
            #project_container{
        
                .project{
                    padding: 1rem;
    
                    .project_demo{
                        display: flex;
                        justify-content: center;
                        
                        img {
                            width: 450px;
                        }
                    }
                }
            }
        }
    }
}